<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8">
  <title>Vlad's homepage</title>
  <meta name="description" content="Webiste with cool links">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Place favicon.ico in the root directory -->

  <link rel='stylesheet' href='/stylesheets/style.css' />

  <meta name="theme-color" content="#fafafa">
</head>

<body>

<nav class="centered navbar">
  <input type="checkbox" id="expand">
  <label for="expand"></label>
  <div class="navbar_links">
    <a class="active" href="https://vladvoicux64.github.io/vladhomepage/">Home</a>
    <a href="https://vladvoicux64.github.io/10yrlb/">Loading Bar</a>
    <a href="/panel">Post</a>
  </div>
</nav>

<header class="centered">
  <p>
    Hello, this is my personal page where I save different resources and materials I find interesting, feel free to use any of the below!
    I am open towards feedback of any kind, so if you have any suggestions do not hesitate to contact me on any channel specified on my GitHub account!
  </p>
</header>

<main class="centered boxes_container category_container">

</main>


<footer class="centered">
  <p>©2024 Voicu Ioan Vladut, Github: <a href="https://github.com/vladvoicux64">@vladvoicux64</a></p>
</footer>

<script src="/javascripts/index.js"></script>

</body>

</html>