<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<nav class="centered navbar">
    <input type="checkbox" id="expand">
    <label for="expand"></label>
    <div class="navbar_links">
        <a href="https://vladvoicux64.github.io/vladhomepage/">Home</a>
        <a href="https://vladvoicux64.github.io/10yrlb/">Loading Bar</a>
        <a class="active" href="/panel">Post</a>
    </div>
</nav>

<header class="centered">
    <p>
        Welcome to the admin panel. Here you can share new links by filling out the form below and submitting it to the server.
    </p>
</header>

<form class="centered neat" id="loginForm" method="post" action="/panel" enctype='multipart/form-data'>
    <label for="category">Category:</label><br>
    <select id="category" name="category">
    </select><br>
    <label for="title">Title:</label><br>
    <textarea id="title" name="title" rows="1" cols="50" minlength="5" maxlength="50" placeholder="Enter an interesting title..."></textarea><br>
    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50" minlength="30" maxlength="500" placeholder="Enter a short and descriptive paragraph about the link..."></textarea><br>
    <label for="url">URL:</label><br>
    <textarea id="url" name="url" rows="4" cols="50" maxlength="500" placeholder="Enter the URL that points to the resource.."></textarea>
    <br>
    <br>
    <input id="form_button" type="submit" value="Submit">
</form>
<div id="err" class="centered neat" style="visibility: hidden">
</div>
<form class="centered" method="post" action="/panel">
    <input type="submit" value="Logout">
</form>

<script src="/javascripts/panel.js"></script>

</body>
</html>